<section class="section" id =explore>
        <div class="row">
          <div class="col s12 m4">
        <div class="container">
          <div class="card">
              <h5 class="center">Explore AirBnB</h5>
            <div class="card-content">
              <a href=""><i class="material-icons medium">home</i></a>
              <p>Lorem, porro voluptatem quisquam voluptas
                </p>
            </div>
            </div>
          </div>
          </div>
      
          <div class="col s12 m4">
              <div class="container">
                <div class="card">
                    <h5 class="center">AirBnB</h5>
                  <div class="card-content">
                   <a href=""><i class="material-icons medium">edit_location</i></a>
                    <p>Lorem, porro voluptatem quisquam volupta</p>
                  </div>
                  </div>
                </div>
                </div>
      
                <div class="col s12 m4">
                    <div class="container">
                      <div class="card">
                          <h5 class="center">AirBnB Hotel</h5>
                        <div class="card-content">
                         <a href=""><i class="material-icons medium">hotel</i></a>
                          <p>Lorem,  porro voluptatem quisquam voluptas
                            </p>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
      </section